<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.szcp.mapper.DbMarkdownMapper">
    <select id="findMarkdownList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        id,
        menu_id AS menuId,
        title,
        url,
        create_user AS createUser,
        update_user AS updateUser,
        create_time AS createTime,
        update_time AS updateTime,
        remark
        FROM article_list
        WHERE delete_status = 0
        ORDER BY update_time DESC
        limit #{page} , #{limit};
    </select>
    <select id="findMarkdownListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(*)
        FROM article_list
        WHERE delete_status=0
    </select>
    <insert id="addMarkdown" parameterType="com.yys.szcp.entity.DbMarkdown">
        INSERT INTO article_list (menu_id,title,url,create_user,create_time,update_user,update_time,remark)
        VALUES (#{menuId},#{title},#{url},#{createUser},now(),#{updateUser},now(),#{remark})
    </insert>
    <update id="updateMarkdown" parameterType="com.yys.szcp.entity.DbMarkdown">
        UPDATE article_list
        SET menu_id = #{menuId},
        title = #{title},
        url = #{url},
        update_user = #{updateUser},
        update_time = now(),
        remark = #{renark}
        WHERE id = #{id}
    </update>
    <update id="delMarkdown" parameterType="java.lang.Integer">
        UPDATE article_list
        SET delete_status = 1,update_time = now()
        WHERE id = #{id}
    </update>
    <select id="findMarkdownByid" parameterType="java.lang.Integer" resultType="com.yys.szcp.entity.DbMarkdown">
        SELECT
        id,
        menu_id AS menuId,
        title,
        url,
        create_user AS createUser,
        update_user AS updateUser,
        create_time AS createTime,
        update_time AS updateTime,
        remark
        FROM article_list
        WHERE delete_status = 0
        AND id = #{id}
    </select>
    <select id="findMarkdownByMenuid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM article_list
        WHERE delete_status = 0
        AND menu_id = #{menuId}
    </select>
</mapper>