<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yys.szcp.mapper.TFundInfoMapper">

    <!--添加基金信息-->
    <insert id="addFundInfo" parameterType="com.yys.szcp.entity.TFundInfo">
        insert into t_fund_info (fund_type_company_id, fund_type_section_id, fund_type_type_id,
                                 fund_type_purchase_id,
                                 fund_name, fund_code, fund_scale, holding_yield,
                                 principal, profit_loss, recommendation_level, remark,
                                 create_user_id, update_user_id, create_time, update_time)
        values (#{fundTypeCompanyId}, #{fundTypeSectionId},
                #{fundTypeTypeId}, #{fundTypePurchaseId}, #{fundName},
                #{fundCode}, #{fundScale}, #{holdingYield},
                #{principal}, #{profitLoss}, #{recommendationLevel},
                #{remark}, #{createUserId}, #{updateUserId}, now(), now());

    </insert>
    

    <!--查询所有基金信息-->
    <select id="findFundInfoList" resultType="com.yys.szcp.entity.TFundInfo" parameterType="java.util.Map">
        select tfi.id,
        tfi.fund_type_company_id AS fundTypeCompanyId,
        tftCompany.title AS companyTitle,
        tfi.fund_type_section_id AS fundTypeSectionId,
        tftSection.title AS sectionTitle,
        tfi.fund_type_type_id AS fundTypeTypeId,
        tftType.title AS typeTitle,
        tfi.fund_type_purchase_id AS fundTypePurchaseId,
        tftPurchase.title AS purchaseTitle,
        tfi.fund_name AS fundName,
        tfi.fund_code AS fundCode,
        tfi.fund_scale AS fundScale,
        tfi.holding_yield AS holdingYield,
        tfi.principal AS principal,
        tfi.profit_loss AS profitLoss,
        tfi.recommendation_level AS recommendationLevel,
        tfi.remark,
        tfi.create_time AS createTime,
        tfi.update_time AS updateTime
        from t_fund_info tfi
        left join t_fund_type tftCompany on tftCompany.id=tfi.fund_type_company_id
        left join t_fund_type tftSection on tftSection.id=tfi.fund_type_section_id
        left join t_fund_type tftType on tftType.id=tfi.fund_type_type_id
        left join t_fund_type tftPurchase on tftPurchase.id=tfi.fund_type_purchase_id

        where tfi.delete_status = 0
        <if test="fundTypeCompanyId!=null and fundTypeCompanyId!=''">
            and tfi.fund_type_company_id=#{fundTypeCompanyId}
        </if>
        <if test="fundTypeSectionId!=null and fundTypeSectionId!=''">
            and tfi.fund_type_section_id=#{fundTypeSectionId}
        </if>
        <if test="fundTypeTypeId!=null and fundTypeTypeId!=''">
            and tfi.fund_type_type_id=#{fundTypeTypeId}
        </if>
        <if test="fundTypePurchaseId!=null and fundTypePurchaseId!=''">
            and tfi.fund_type_purchase_id=#{fundTypePurchaseId}
        </if>
        <if test="fundName!=null and fundName!=''">
            and (tfi.fund_name LIKE concat(concat('%',#{fundName}),'%'))
        </if>
        <if test="fundCode!=null and fundCode!=''">
            and (tfi.fund_code LIKE concat(concat('%',#{fundCode}),'%'))
        </if>
        <if test="principalOrderBy!=null and principalOrderBy!=''">
            and tfi.principal!=0
        </if>
        <if test="profitLossOrderBy!=null and profitLossOrderBy!=''">
            and tfi.profit_loss!=0
        </if>
        <if test="recommendationLevelOrderBy!=null and recommendationLevelOrderBy!=''">
            and tfi.recommendation_level!=0
        </if>
        <if test="holdingYieldOrderBy!=null and holdingYieldOrderBy!=''">
            and tfi.holding_yield!=0
        </if>

        order by
        <if test="principalOrderBy!=null and principalOrderBy!=''">
            tfi.${principalOrderBy},
        </if>
        <if test="profitLossOrderBy!=null and profitLossOrderBy!=''">
            tfi.${profitLossOrderBy},
        </if>
        <if test="recommendationLevelOrderBy!=null and recommendationLevelOrderBy!=''">
            tfi.${recommendationLevelOrderBy},
        </if>
        <if test="holdingYieldOrderBy!=null and holdingYieldOrderBy!=''">
            tfi.${holdingYieldOrderBy},
        </if>
        tfi.create_time DESC
        limit #{page} , #{limit};
    </select>
    <select id="findFundInfoListCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
        count(*)
        from t_fund_info tfi
        where delete_status = 0
        <if test="fundTypeCompanyId!=null and fundTypeCompanyId!=''">
            and tfi.fund_type_company_id=#{fundTypeCompanyId}
        </if>
        <if test="fundTypeSectionId!=null and fundTypeSectionId!=''">
            and tfi.fund_type_section_id=#{fundTypeSectionId}
        </if>
        <if test="fundTypeTypeId!=null and fundTypeTypeId!=''">
            and tfi.fund_type_type_id=#{fundTypeTypeId}
        </if>
        <if test="fundTypePurchaseId!=null and fundTypePurchaseId!=''">
            and tfi.fund_type_purchase_id=#{fundTypePurchaseId}
        </if>
        <if test="fundName!=null and fundName!=''">
            and (tfi.fund_name LIKE concat(concat('%',#{fundName}),'%'))
        </if>
        <if test="fundCode!=null and fundCode!=''">
            and (tfi.fund_code LIKE concat(concat('%',#{fundCode}),'%'))
        </if>
        <if test="principalOrderBy!=null and principalOrderBy!=''">
            and tfi.principal!=0
        </if>
        <if test="profitLossOrderBy!=null and profitLossOrderBy!=''">
            and tfi.profit_loss!=0
        </if>
        <if test="recommendationLevelOrderBy!=null and recommendationLevelOrderBy!=''">
            and tfi.recommendation_level!=0
        </if>
        <if test="holdingYieldOrderBy!=null and holdingYieldOrderBy!=''">
            and tfi.holding_yield!=0
        </if>

        order by
        <if test="principalOrderBy!=null and principalOrderBy!=''">
            tfi.${principalOrderBy},
        </if>
        <if test="profitLossOrderBy!=null and profitLossOrderBy!=''">
            tfi.${profitLossOrderBy},
        </if>
        <if test="recommendationLevelOrderBy!=null and recommendationLevelOrderBy!=''">
            tfi.${recommendationLevelOrderBy},
        </if>
        <if test="holdingYieldOrderBy!=null and holdingYieldOrderBy!=''">
            tfi.${holdingYieldOrderBy},
        </if>
        tfi.create_time DESC
    </select>


    <!--更新基金信息-->
    <update id="updateFundInfo" parameterType="com.yys.szcp.entity.TFundInfo">
        update t_fund_info
        set update_time = now()
        ,fund_type_company_id = #{fundTypeCompanyId}
        ,fund_type_section_id = #{fundTypeSectionId}
        ,fund_type_type_id = #{fundTypeTypeId}
        ,fund_type_purchase_id = #{fundTypePurchaseId}
        ,fund_name = #{fundName}
        ,fund_code = #{fundCode}
        ,fund_scale = #{fundScale}
        ,holding_yield = #{holdingYield}
        ,principal = #{principal}
        ,profit_loss = #{profitLoss}
        ,recommendation_level = #{recommendationLevel}
        ,remark = #{remark}
        <if test="deleteStatus!=null and deleteStatus!=0 ">
            ,delete_status = #{deleteStatus}
        </if>
        where id = #{id}
    </update>
    <!--    删除基金信息-->
    <update id="deleteFundInfo" parameterType="com.yys.szcp.entity.TFundInfo">
        update t_fund_info
        set update_time    = now()
          , update_user_id = #{updateUserId}
          , delete_status  = #{deleteStatus}
        where id = #{id}
    </update>

</mapper>