<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yys.szcp.mapper.TFundTypeMapper">


    <!--添加文章菜单-->
    <insert id="addFundType" parameterType="com.yys.szcp.entity.TFundType">
        insert into t_fund_type (title, type, sorting, remark, create_user_id, update_user_id,
                                 create_time, update_time)
        values (#{title}, #{type}, #{sorting}, #{remark}, #{createUserId}, #{updateUserId}, now(),
                now());
    </insert>


    <!--查询所有文章菜单-->
    <select id="findFundTypeList" resultType="com.yys.szcp.entity.TFundType" parameterType="java.util.Map">
        select id,
        title,
        type AS type,
        sorting,
        remark,
        create_time AS createTime,
        update_time AS updateTime
        from t_fund_type
        where delete_status = 0
        <if test="title!=null and title!=''">
            and (title LIKE concat(concat('%',#{title}),'%'))
        </if>
        <if test="type!=null and type!=''">
            and type=#{type}
        </if>
        order by sorting DESC, create_time DESC limit #{page} , #{limit};
    </select>
    <select id="findFundTypeListCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
        count(*)
        from t_fund_type
        where delete_status = 0
        <if test="title!=null and title!=''">
            and (title LIKE concat(concat('%',#{title}),'%'))
        </if>
        <if test="type!=null and type!=''">
            and type=#{type}
        </if>
    </select>

    <!--通过菜单名称 获取菜单-->
    <select id="findFundTypeByName" resultType="com.yys.szcp.entity.TFundType">
        select
        id,
        title,
        type AS type,
        sorting,
        remark,
        create_time AS createTime,
        update_time AS updateTime
        from t_fund_type
        <if test="fundTypeId==null or fundTypeId==0">
            where title=#{title} and delete_status=0;
        </if>
        <if test="fundTypeId!=null and fundTypeId!=0">
            where id!=#{fundTypeId} and title=#{title} and delete_status=0;
        </if>
    </select>

    <!--更新菜单-->
    <update id="updateFundType" parameterType="com.yys.szcp.entity.TFundType">
        update t_fund_type
        set update_time = now()
        ,update_user_id = #{updateUserId}
        ,title = #{title}
        ,remark = #{remark}
        ,type = #{type}
        ,sorting = #{sorting}
        <if test="deleteStatus!=null and deleteStatus!=0 ">
            ,delete_status = #{deleteStatus}
        </if>
        where id = #{id}
    </update>
    <!--    删除文章菜单-->
    <update id="deleteFundType" parameterType="com.yys.szcp.entity.TFundType">
        update t_fund_type
        set update_time    = now()
          , update_user_id = #{updateUserId}
          , delete_status  = #{deleteStatus}
        where id = #{id}
    </update>

    <!--查询所有文章菜单-->
    <select id="findFundTypeListByType" resultType="com.yys.szcp.entity.TFundType" parameterType="java.util.Map">
        select id,
        title,
        type AS type,
        sorting,
        remark,
        create_time AS createTime,
        update_time AS updateTime
        from t_fund_type
        where delete_status = 0
        <if test="type!=null and type!=''">
            and type=#{type}
        </if>
        order by sorting DESC, create_time DESC;
    </select>

</mapper>