<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* css 代码  */
        .fundTitle {
            display: block;
            float: left;
            width: 187px;
        }
    </style>
    <script src="https://code.highcharts.com.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="https://cdn.highcharts.com.cn/highstock/highstock.js"></script>
    <script src="https://cdn.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://cdn.highcharts.com.cn/highcharts/modules/oldie.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
<!--    <script src="https://cdn.highcharts.com.cn/highcharts/themes/dark-unica.js"></script>-->
<!--    <script src="https://cdn.highcharts.com.cn/highcharts/themes/sand-signika.js"></script>-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
<div style="
    font-size: 10px;
">
    <div>
        <button onclick="getFundDataAll()">刷新数据</button>
    </div>
    <div class="fundTitle">
        <ul>
            <li onclick="getFundData('002943','002943(广发多因子)')">002943(广发多因子)</li>
            <li onclick="getFundData('004235','004235(中欧价值)')">004235(中欧价值)</li>
            <li onclick="getFundData('007594','007594(鹏扬中证500)')">007594(鹏扬中证500)</li>
            <li onclick="getFundData('013116','013116(华安文体健康)')">013116(华安文体健康)</li>
            <li onclick="getFundData('006253','006253(永赢消费主题)')">006253(永赢消费主题)</li>
            <li onclick="getFundData('180012','180012(银华富裕)')">180012(银华富裕)</li>
            <li onclick="getFundData('006269','006269(永赢智能领先)')">006269(永赢智能领先)</li>
            <li onclick="getFundData('005969','005969(创金工业周期)')">005969(创金工业周期)</li>
            <li onclick="getFundData('001740','001740(光大中国制造)')">001740(光大中国制造)</li>
        </ul>
    </div>

    <div class="fundTitle">
        <ul>
            <li onclick="getFundData('003096','003096(中欧医疗健康)')">003096(中欧医疗健康)</li>
            <li onclick="getFundData('012323','012323(华宝医疗指数)')">012323(华宝医疗指数)</li>
            <li onclick="getFundData('012417','012417(招商生物医药)')">012417(招商生物医药)</li>
            <li onclick="getFundData('012414','012414(招商中证白酒)')">012414(招商中证白酒)</li>
            <li onclick="getFundData('012857','012857(汇添中证消费)')">012857(汇添中证消费)</li>
            <li onclick="getFundData('009180','009180(嘉实中证消费)')">009180(嘉实中证消费)</li>
            <li onclick="getFundData('011513','011513(天弘中证能源)')">011513(天弘中证能源)</li>
            <li onclick="getFundData('007874','007874(华宝科技ETF)')">007874(华宝科技ETF)</li>
        </ul>
    </div>
    <div class="fundTitle">
        <ul>

            <li onclick="getFundData('011103','011103(天弘中证光伏)')">011103(天弘中证光伏)</li>
            <li onclick="getFundData('008888','008888(华夏中证芯片)')">008888(华夏中证芯片)</li>
            <li onclick="getFundData('005693','005693(广发中证军工)')">005693(广发中证军工)</li>
            <li onclick="getFundData('010990','010990(南方有色金属C)')">010990(南方有色金属C)</li>
            <li onclick="getFundData('011036','011036(嘉实中证稀土)')">011036(嘉实中证稀土)</li>
            <li onclick="getFundData('008591','008591(天弘中证证券)')">008591(天弘中证证券)</li>
            <li onclick="getFundData('160424','160424(华安创业板50)')">160424(华安创业板50)</li>
            <li onclick="getFundData('006614','006614(嘉实港股指数)')">006614(嘉实港股指数)</li>
        </ul>
    </div>

    <div class="fundTitle">
        <ul>
            <li onclick="getFundData('004753','004753(广发中证传媒)')">004753(广发中证传媒)</li>
            <li onclick="getFundData('001630','001630(天弘计算机)')">001630(天弘计算机)</li>
            <li onclick="getFundData('002984','002984(广发中证环保)')">002984(广发中证环保)</li>
            <li onclick="getFundData('001618','001618(天弘中证电子)')">001618(天弘中证电子)</li>
            <li onclick="getFundData('001551','001551(天弘中证医药)')">001551(天弘中证医药)</li>
            <li onclick="getFundData('009881','009881(广发中证医疗)')">009881(广发中证医疗)</li>
            <li onclick="getFundData('008280','008280(国泰中证煤炭)')">008280(国泰中证煤炭)</li>
            <li onclick="getFundData('005224','005224(广发中证基建)')">005224(广发中证基建)</li>
            <li onclick="getFundData('010989','010989(南方中证房地产)')">010989(南方中证房地产)</li>
        </ul>
    </div>
    <div class="fundTitle">
        <ul>
            <li onclick="getFundData('012810','012810(鹏华国证钢铁)')">012810(鹏华国证钢铁)</li>
            <li onclick="getFundData('001595','001595(天弘中证银行)')">001595(天弘中证银行)</li>
            <li onclick="getFundData('004857','004857(广发中证建筑)')">004857(广发中证建筑)</li>
            <li onclick="getFundData('005064','005064(广发中证电器)')">004857(广发中证电器)</li>
            <li onclick="getFundData('010770','010770(天弘中证农业)')">010770(天弘中证农业)</li>
            <li onclick="getFundData('001593','001593(天弘创业板ETF)')">001593(天弘创业板ETF)</li>
            <li onclick="getFundData('501012','501012(汇添富中证中药)')">501012(汇添富中证中药)</li>
            <li onclick="getFundData('012808','012808(鹏华中证资源)')">012808(鹏华中证资源)</li>
        </ul>
    </div>

    <div class="fundTitle">
        <ul>
            <li onclick="getFundData('009329','009329(华宝中证消费龙头)')">009329(华宝中证消费龙头)</li>
            <li onclick="getFundData('011705','011705(东方阿尔法产业)')">011705(东方阿尔法产业)</li>
            <li onclick="getFundData('006229','006229(中欧医疗创新)')">006229(中欧医疗创新)</li>
            <li onclick="getFundData('001632','001632(天弘中证食品饮料)')">001632(天弘中证食品饮料)</li>
            <li onclick="getFundData('013176','013176(海富通碳中和主题混合)')">013176(海富通碳中和)</li>
            <li onclick="getFundData('008001','008001(鹏华中证500)')">008001(鹏华中证500)</li>
        </ul>
    </div>

    <div class="fundTitle">
        <ul>
            <li onclick="getFundData('012620','012620(嘉实中证软件)')">012620(嘉实中证软件)</li>
            <li onclick="getFundData('012544','012544(嘉实新能源汽车)')">012544(嘉实新能源汽车)</li>
            <li onclick="getFundData('002199','002199(前海开源中证军工)')">002199(前海开源中证军工)</li>
            <li onclick="getFundData('012365','012365(广发中证光伏)')">012365(广发中证光伏)</li>
            <li onclick="getFundData('007883','007883(易方达沪深300医药)')">007883(易方达300医药)</li>
            <li onclick="getFundData('012838','012838(华安CES半导体)')">012838(华安CES半导体)</li>
        </ul>
    </div>
    <div class="fundTitle">
        <ul>
            <li onclick="getFundData('011840','011840(天弘人工智能)')">011840(天弘人工智能)</li>
            <li onclick="getFundData('010956','010956(天弘智能汽车)')">010956(天弘智能汽车)</li>
            <li onclick="getFundData('012970','012970(鹏华半导体)')">012970(鹏华半导体)</li>
            <li onclick="getFundData('009480','009480(中银100ETF)')">009480(中银100ETF)</li>
            <li onclick="getFundData('013196','013196(招商新能源车)')">013196(招商新能源车)</li>
            <li onclick="getFundData('012886','012886(华夏光伏产业)')">012886(华夏光伏产业)</li>
        </ul>
    </div>

</div>
<div style=" display: block;width: 100%; float: left;">
    <div id="container" style="min-width:400px;height:400px"></div>
</div>
<script>
    // JS 代码
    var chart = null;
    var fundName = '';


    var mapData = {

        '002943': '0.2403',
        '004235': '0',
        '007594': '0',
        '013116': '0',
        '006253': '0',
        '180012': '0.953',
        '006269': '0',
        '005969': '0',
        '001740': '0.147',

        '003096': '0.232',
        '012323': '0',
        '012417': '0',
        '012414': '0.085',
        '012857': '0',
        '009180': '0',
        '011513': '0',
        '007874': '0',
        '011103': '0',
        '008888': '0',
        '005693': '0',
        '010990': '0',
        '011036': '0',
        '008591': '0',
        '160424': '0.28',
        '006614': '0',

        '004753': '0',
        '001630': '0',
        '002984': '0',
        '001618': '0',
        '001551': '0',
        '009881': '0',
        '008280': '0.3',
        '005224': '0',
        '010989': '0',
        '012810': '0',
        '001595': '0',
        '004857': '0',
        '005064': '0',
        '010770': '0',
        '001593': '0',
        '501012': '0',
        '012808': '0',
        '009329': '0',
        '011705': '0',
        '006229': '0',
        '001632': '0',
        '013176': '0',
        '008001': '0',
        '012620': '0',
        '012544': '0',
        '002199': '0.96',
        '012365': '0',
        '007883': '0',
        '012838': '0',
        '011840': '0',
        '010956': '0',
        '012970': '0',
        '009480': '0',
        '013196': '0',
        '012886': '0'

    }


    var mapDataRate = {
        '002943': 0.96,
        '004235': 0.96,
        '007594': 0.96,
        '013116': 0.96,
        '006253': 0.95,
        '180012': 0.95,
        '006269': 0.95,
        '005969': 0.95,
        '001740': 0.95,

        '003096': 0.95,
        '012323': 0.95,
        '012417': 0.95,
        '012414': 0.95,
        '012857': 0.95,
        '009180': 0.95,
        '011513': 0.95,
        '007874': 0.95,
        '011103': 0.95,
        '008888': 0.95,
        '005693': 0.95,
        '010990': 0.95,
        '011036': 0.95,
        '008591': 0.95,
        '160424': 0.95,
        '006614': 0.95,

        '004753': 0.95,
        '001630': 0.95,
        '002984': 0.95,
        '001618': 0.95,
        '001551': 0.96,
        '009881': 0.95,
        '008280': 0.95,
        '005224': 0.95,
        '010989': 0.95,
        '012810': 0.95,
        '001595': 0.95,
        '004857': 0.95,
        '005064': 0.95,
        '010770': 0.95,
        '001593': 0.95,
        '501012': 0.95,
        '012808': 0.95,
        '009329': 0.95,
        '011705': 0.95,
        '006229': 0.95,
        '001632': 0.95,
        '013176': 0.95,
        '008001': 0.95,
        '012620': 0.95,
        '012544': 0.95,
        '002199': 0.95,
        '012365': 0.95,
        '007883': 0.95,
        '012838': 0.95,
        '011840': 0.95,
        '010956': 0.95,
        '012970': 0.95,
        '009480': 0.95,
        '013196': 0.95,
        '012886': 0.95
    }


    function getFundData(id, name) {
        console.log(id);
        fundName = name;
        $.get('/fund/getFundDataListOne?fundId=' + id, fundListData => {
            let fundData = eval("(" + fundListData + ")");
            var timestamp = new Date().getTime();

            $.ajax({
                type: "get",
                url: "https://fundgz.1234567.com.cn/js/" + id + ".js?rt=" + timestamp,
                dataType: "jsonp",		//这个设置可以允许跨域调用js
                jsonpCallback: "jsonpgz",	//这个很重要,是根据跨域目标服务器上返回的json数据中的函数起名
                success: function (data) {
                    console.log(data.gsz);	//这里就可以将data当作是JSON对象来直接调用属性来使用了
                    console.log(data.gztime.substring(0, 10));
                    var time1 = convertDateFromString(data.gztime.substring(0, 10)).getTime();
                    console.log(time1);
                    console.log(fundData[fundData.length - 1][0]);
                    if (mapData[id] != '0' || mapData[id] != 0) {
                        for (let i = 0; i < fundData.length; i++) {
                            fundData[i][1] = parseFloat((fundData[i][1] - parseFloat(mapData[id])).toFixed(4));
                        }
                    }
                    if (time1 != fundData[fundData.length - 1][0]) {
                        fundData.push([timestamp, parseFloat(data.gsz)]);
                    } else if (fundData[fundData.length - 1][1] == null) {
                        fundData[fundData.length - 1][1] = parseFloat(data.gsz);
                    }
                    ;
                    chartImage(fundData, id);
                }
            });
        })
    }

    function convertDateFromString(dateString) {
        if (dateString) {
            var date = new Date(dateString.replace(/-/, "/"))
            return date;
        }
    }


    function chartImage(chartData, fundId) {
        let maxData = getChartDataMax(chartData);
        let maxDataDate = getChartDataMaxDate(chartData);
        let paramData = {
            chartData: JSON.stringify(chartData),
            fundCode: fundId,
            maxData: maxData,
            maxDataDate: maxDataDate,
        }
        axios.post('/fund/addFundInfoList', paramData)
            .then(function (res) {
                console.log(res);
            })
            .catch(function (error) {
                console.log(error);
            });


        var charOptions = {
            global: {useUTC: false},
            rangeSelector: {
                buttons: [{ // 时间范围按钮数组
                    type: 'month',
                    count: 1,
                    text: '1月'
                }, { // 时间范围按钮数组
                    type: 'month',
                    count: 2,
                    text: '2月'
                }, {
                    type: 'month',
                    count: 3,
                    text: '3月'
                }, {
                    type: 'month',
                    count: 6,
                    text: '6月'
                }, {
                    type: 'ytd',
                    text: '近一年'
                }, {
                    type: 'year',
                    count: 1,
                    text: '1年'
                }, {
                    type: 'year',
                    count: 2,
                    text: '2年'
                }, {
                    type: 'year',
                    count: 3,
                    text: '3年'
                }, {
                    type: 'all',
                    text: '所有'
                }]
                ,
                selected: 1  // 默认选中的范围，值为上面 buttons 数组的下标（从 0 开始）
            },
            chart: {
                zoomType: 'x'
            },
            title: {
                text: fundName + '净值走势图'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    '鼠标拖动可以进行缩放' : '手势操作进行缩放'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S.%L',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                }
            },
            tooltip: {
                backgroundColor: '#eae4e4',   // 背景颜色
                borderColor: '#ef0707',         // 边框颜色
                borderRadius: 3,             // 边框圆角
                borderWidth: 1,               // 边框宽度
                shadow: true,                 // 是否显示阴影
                animation: true,             // 是否启用动画效果
                style: {                      // 文字内容相关样式
                    color: "#ef0707",
                    fontSize: "12px",
                    fontWeight: "blod",
                    fontFamily: "Courir new"
                },
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S.%L',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%Y-%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                },
                pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: <b>{point.y}</b><br/>'
            },
            yAxis: {
                // alternateGridColor: '#FDFFD5',
                // gridLineColor: '#d7f5eb',
                plotLines: [],
                title: {
                    text: '净值'
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, new Highcharts.getOptions().colors[0]],
                            [1, new Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                type: 'area',
                name: fundName + '净值',
                data: chartData
            }],

        }

        let plotLines = [];
        for (let i = 0; i < 20; i++) {
            plotLines.push({
                color: 'red',            //线的颜色，定义为红色
                dashStyle: 'solid',//标示线的样式，默认是solid（实线），这里定义为长虚线
                value: maxData,                //定义在哪个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
                width: 1 ,                //标示线的宽度，2px
                label:{
                    text: i,
                    align:'right',
                    style:{color:'red',fontWeight: '800'},

                }
            })

            maxData = maxData * mapDataRate[fundId];
        }
        charOptions.yAxis.plotLines = plotLines;


        Highcharts.setOptions({global: {useUTC: false}});
        chart = Highcharts.stockChart('container', charOptions);
    }

    function getChartDataMax(chartData) {
        let maxDataMy = 0;
        for (let i = 0; i < chartData.length; i++) {
            if (maxDataMy < chartData[i][1]) {
                maxDataMy = chartData[i][1];
            }
        }
        return maxDataMy;
    };

    function getChartDataMaxDate(chartData) {
        let maxDataMy = 0;
        let maxDataDateMy = 0;
        for (let i = 0; i < chartData.length; i++) {
            if (maxDataMy < chartData[i][1]) {
                maxDataMy = chartData[i][1];
                maxDataDateMy = chartData[i][0];
            }
        }
        return maxDataDateMy;
    };


    function request(param, param2) {
        return new Promise((resolve) => {
            let time = 2000                 //为了模拟每次请求的时长不同，这里每次等待随机时间0到1s
            setTimeout(() => {
                getFundData(param, param2);
                resolve({param, time})
            }, time)              //请求结束之后，调用回调函数
        })
    }

    async function getFundDataAll() {
        await request('002943', '002943(广发多因子)')
        await request('004235', '004235(中欧价值)');
        await request('007594', '007594(鹏扬中证500)');
        await request('013116', '013116(华安文体健康)');
        await request('006253', '006253(永赢消费主题)');
        await request('180012', '180012(银华富裕)');
        await request('006269', '006269(永赢智能领先)');
        await request('005969', '005969(创金工业周期)');
        await request('001740', '001740(光大中国制造)');


        await request('003096', '003096(中欧医疗健康)');
        await request('012323', '012323(华宝医疗指数)');
        await request('012417', '012417(招商生物医药)');
        await request('012414', '012414(招商中证白酒)');
        await request('012857', '012857(汇添中证消费)');
        await request('009180', '009180(嘉实中证消费)');
        await request('011513', '011513(天弘中证能源)');
        await request('007874', '007874(华宝科技ETF)');


        await request('011103', '011103(天弘中证光伏)');
        await request('008888', '008888(华夏中证芯片)');
        await request('005693', '005693(广发中证军工)');
        await request('010990', '010990(南方有色金属C)');
        await request('011036', '011036(嘉实中证稀土)');
        await request('008591', '008591(天弘中证证券)');
        await request('160424', '160424(华安创业板50)');
        await request('006614', '006614(嘉实港股指数)');



        await request('004753', '004753(广发中证传媒)');
        await request('001630', '001630(天弘计算机)');
        await request('002984', '002984(广发中证环保)');
        await request('001618', '001618(天弘中证电子)');
        await request('001551', '001551(天弘中证医药)');
        await request('009881', '009881(广发中证医疗)');
        await request('008280', '008280(国泰中证煤炭)');
        await request('005224', '005224(广发中证基建)');
        await request('010989', '010989(南方中证房地产)');
        await request('012810', '012810(鹏华国证钢铁)');

        await request('001595', '001595(天弘中证银行)');
        await request('004857', '004857(广发中证建筑)');
        await request('005064', '005064(广发中证电器)');
        await request('010770', '010770(天弘中证农业)');
        await request('001593', '001593(天弘创业板ETF)');
        await request('501012', '501012(汇添富中证中药)');
        await request('012808', '012808(鹏华中证资源)');

        await request('009329', '009329(华宝中证消费龙头)');
        await request('011705', '011705(东方阿尔法产业)');
        await request('006229', '006229(中欧医疗创新)');
        await request('001632', '001632(天弘中证食品饮料)');
        await request('013176', '013176(海富通碳中和主题混合)');
        await request('008001', '008001(鹏华中证500)');
        await request('012620', '012620(嘉实中证软件)');
        await request('012544', '012544(嘉实新能源汽车)');
        await request('002199', '002199(前海开源中证军工)');
        await request('012365', '012365(广发中证光伏)');
        await request('007883', '007883(易方达沪深300医药)');
        await request('012838', '012838(华安CES半导体)');

        await request('011840', '011840(天弘人工智能)');
        await request('010956', '010956(天弘智能汽车)');
        await request('012970', '012970(鹏华半导体)');
        await request('009480', '009480(中银100ETF)');
        await request('013196', '013196(招商新能源车)');
        await request('012886', '012886(华夏光伏产业)');

    }

</script>
</body>

</html>